.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  display: none;
}

.modal.active {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: show .5s;
}

.modal.closed {
    animation: hide .5s;
  }

.modal__content {
  padding: 20px;
  background-color: #333;
  border-radius: 10px;
}

@keyframes show {
  0% {
    opacity: 0;
  }
}

@keyframes hide {
    100% {
      opacity: 0;
    }
  }